---
import { Icon } from 'astro-icon';
import { SITE } from '~/config.mjs';

const items = [
	{
		title: 'Configurable, easy-to-use tools',
		description: `${SITE.name} is easy to use and configure to meet your unique operational needs.`,
		icon: 'flat-color-icons:home',
	},
	{
		title: 'Safe, enterprise-grade platform',
		description:
			'Our cloud-based SaaS solution is certified to meet the highest standards of security and reliability.',
		icon: 'flat-color-icons:faq',
	},
	{
		title: 'Robust data and deeper insights',
		description:
			'Take advantage of industry benchmarking and enterprise-level reporting to bring new insights to your decision-making.',
		icon: 'flat-color-icons:video-projector',
	},
	{
		title: 'Continuous innovation',
		description: 'Client feedback is used to continuously improve and optimize our software solutions.',
		icon: 'flat-color-icons:video-projector',
	},
	{
		title: 'Increased ROI',
		description: 'Streamline processes, reduce costs and extend the life of assets and equipment in your organization.',
		icon: 'flat-color-icons:calculator',
	},
	{
		title: 'Our legendary support',
		description: 'We’re always here for you whenever you need us — contact us via phone, email or chat.',
		icon: 'flat-color-icons:voice-presentation',
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl leading-tighter tracking-tighter mb-4 font-heading">
					What to expect when working with us?
				</h2>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />

								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
